.app-header{
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: blanchedalmond;
}

.header-btn{
    margin:0.4rem;
    text-decoration: none;
    color: black;
}

.header-btn:hover{
    text-decoration: underline;
}

.cart:hover{
    text-decoration: none;
}

.logo{
    text-decoration: none;
    color: black;
    font-family: 'Merriweather', serif;
    font-size:x-large;
    font-weight: 800;
}