.toy-filter {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 6px;
  padding: 8px;
  max-width: 600px;
  h3 {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  label {
    margin: 10px;
  }
  .select {
    max-width: 400px;
    margin: auto;
    margin-bottom: 10px;
  }
  .filter-btn {
    background-color: blanchedalmond;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-size: 12px;
    border-radius: 4px;
  }
  .sorter {
    margin: 0.5rem;
  }
}
